/*

600
768
992
1200
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
    width: 100% !important;
  }

  #question1 {
    width: 90%;
    margin-left: 5%;
  }

  .row {
    /* display: flex;
    justify-content: space-between; */
  }

  .col-xs-12 {
    width: 100% !important;
    display: block;
  }

  .input-group {
    padding: 0 10px !important;
  }

  .input-label {
    padding: 5px 10px !important;
    font-weight: 700;
  }

  .bodyHeading{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .example {
    background: green;
  } */

  #question1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  /* .col-6 {
    width: 50%;
    /* display: inline; */
    /* border: 1px solid green; */
  } */

  .bodyHeading{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
  }

  .subHeadingQuestion2{
    font-size: 0.8rem;
  }


  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%; border: 1px solid green;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%; border: 1px solid blue;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%; border: 1px solid brown;}

  /* 
  .input-group {
    padding: 10px;
  }

  .input-label {
    padding: 19px;
    font-weight: 700;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* .example {
    background: blue;
  } */

  .row {
    display: flex;
    justify-content: space-between;
  }

  .bodyHeading{
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }

  .subHeadingQuestion2{
    font-size: 1.0rem;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%; border: 1px solid red;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%; border: 1px solid black;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
/* 
  .col-6 {
    width: 50%;
    /* display: inline; */
    /* border: 1px solid green; */
  } */

  .col-lg-4 {
    width: 33.33% !important;
    border: 1px solid green;
  }

  .para2{
    border: 1px solid red;
  }

  .bodyHeading{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }

  .subHeadingQuestion2{
    font-size: 1.25rem;
  }

  /* .input-group {
    padding: 10px;
  }
  
  .input-label {
    padding: 19px;
    font-weight: 700;
  } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  /* .col-6 {
    width: 50%;
  } */

  .col-xl-4 {
    width: 33.33%;
  }

  .para2{
    border: 1px solid red;
  }
  /* .input-group {
    padding: 10px;
  }

  .input-label {
    padding: 19px;
    font-weight: 700;
  } */
}


.input-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  cursor: pointer;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.row {}

.col-12 {
  border: 1px solid black;
  width: 100% !important;
}

form {
  width: 100%;
  /* border: 1px solid red; */
  background-color: #E9ECEF;
}

.input-group {
  display: flex;
  justify-content: stretch;
  padding: 10px;
}

.input-label {
  display: flex;
  justify-content: start;
  padding: 19px;
  font-weight: 700;
}

.input-icon {
  width: 15%;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.input-text {
  width: 90%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  /* background-color: #fff;
  background-clip: padding-box; */
  border: 1px solid #ced4da;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: none;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -ms-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

/****************************************************** Question 2 *****************************************************************/

#question2 {
  width: 100%;
  padding: 10px 10%;
  background-color: #F5F5F5;
  margin-top: 10px;
}

header{
  border-bottom: 1px solid #d8dde2;
  padding-bottom: 10px;
}

footer{
  border-top: 1px solid #d8dde2;
  padding-top: 10px;
}

footer a{
  color: #007bff;
}

.nav{
  display: flex;
  /* justify-content: space-between;*/
  padding: 20px 0 0 0; 
  width: 100%;
}

.brandTitle{
  /* border: 1px solid red; */
  font-size: 1.5rem;
  color: #7d7e7f;
  padding: 10px 0;
  width: 75%;
}

.navLinks{
  width: 25%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navLinks li{
  /* margin:0 10px; */
  padding: 15px 10px;
  color: #007bff;
}

.navLinks li:hover{
  cursor: pointer;
}

.active{
  background-color: #007bff;
  color: #fff !important;
  border-color: #007bff;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

.primary{
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
}

/* header{
  border-bottom: 1px solid red
} */

.body1Question2{
  background-color: #E9ECEF;
  /* border: 1px solid red; */
  padding:100px 50px;
  margin-top: 10px;
}

.body2Question2{
  padding: 40px 10px;
}



.subHeadingQuestion2{
  font-size: 1.5rem;
}

.text-center{
  text-align: center;
}

.buttonQuestion2{
  border: none;
  padding: 15px;
}

.buttonQuestion2:hover {
  cursor: pointer;
}

.buttonQuestion2:active {
  border: 1px solid red;
}

.mt-10{
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.m-5{
  margin: 5px;
}


/********************************************************************************* Question 3 *********************************************************************************/
#question3 {
  width: 100%;
  padding: 10px 10%;
  background-color: #F5F5F5;
  margin-top: 10px;
}

.card{
  padding: 0px 15px;
  /* border: 1px solid red; */
}

.cardBody{
  padding: 0px 15px;
  border: 1px solid rgb(53, 53, 53);
  border-top: none;
}

.cardImage{
  border: 1px solid rgb(53, 53, 53);
  border-bottom: none;
}

.image-fluid{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardFooter{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buttonQuestion3{
  border: none;
  padding: 5px;
}